{% extends 'layout.html.twig' %}

{% block stylesheets %}{% apply spaceless %}
  <style media="screen">

    /* style only for this page */

    .info-box-content {
      padding: 12px 10px;
      margin-left: 110px;
    }

    .info-box-icon {
      background: white;
    }

    hr {
      margin-top: 20px;
      margin-bottom: 1px;
      border: 5;
      border-top: 1px solid #232121;
    }

    i.round {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
      padding: 0.5em 0.6em;
    }
  </style>
{% endapply %}{% endblock %}

{% block title %}{% apply spaceless %}{{ title | upper }}{% endapply %}{% endblock %}

{% block page_title %}{% apply spaceless %}{{ title }}{% endapply %}{% endblock %}

{% block content %}{% apply spaceless %}

        <div class="col-md-12">
          <div class="row">
            <br>
            <div class="box box-danger">
              <div class="box-header with-border">
                <h3 class="box-title">DETAIL PROGRAM</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>

              <div class="box box-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label"> Nama Program </label>

                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ activity }}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label"> Anggaran </label>

                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" value="500.0000.000">
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <br>
            <div class="box box-primary">
                <div id="realisasi-satker"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <br>
          <div class="col-md-12 nopadding">
            <div class="box box-success">

              <div class="box-header with-border">
                <h3 class="box-title">PETA PROGRAM PER LOKASI</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>

              <div class="box-body">
                <div class="col-md-12">
                  <table class="table table-stripper">
                    <thead style="background: #8fb7e8;">
                      <th> No </th>
                      <th> Program </th>
                      <th> Jumlah Kegiatan </th>
                      <th> Penerima Manfaat </th>
                      <th> Jumlah Anggaran </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td> 1 </td>
                        <td> Dukungan Nakes </td>
                        <td> 10 </td>
                        <td> 500 </td>
                        <td> Rp. 2.500.000.000 </td>
                      </tr>
                      <tr>
                        <td> 2 </td>
                        <td> Pemberian Sembako </td>
                        <td> 50 </td>
                        <td> 1000 </td>
                        <td> Rp. 500.000.000 </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endapply %}{% endblock %}

{% block javascripts %}{% apply spaceless %}
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/mapdata/countries/id/id-all.js"></script>


  <script>
      let realisasi_satker = Highcharts.chart('realisasi-satker', {
          chart: {
              type: 'column'
          },
          credits: {
            enabled: false
          },
          exporting: { enabled: false },
          title: {
              text: 'GRAFIK KEGIATAN PER ESELON I'
          },
          xAxis: {
              categories: [
                  'INSPEKTUR UTAMA',
                  'SEKRETARIS KEMENTERIAN',
                  'DEPUTI BIDANG KEBIJAKAN STRATEGIS',
                  'DEPUTI BIDANG SUMBERDAYA DAN KELEMBAGAAN',
                  'DEPUTI BIDANG SUMBERDAYA DAN KELEMBAGAAN',
                  'DEPUTI BIDANG PENGEMBANGAN DESTINASI DAN INFRASTRUKTUR',
                  'DEPUTI BIDANG INDUSTRIDAN INVESTASI',
                  'DEPUTI BIDANG PEMASARAN',
                  'DEPUTI BIDANG PRODUKWISATA DAN PENYELENGGARA KEGIATAN',
                  'DEPUTI BIDANG EKONOMI DIGITAL DAN PRODUK KREATIF',
              ],
              crosshair: true
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Rainfall (mm)'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0,
                  point: {
                      events:{
                          click: function(e) {
                              var go = Routing.generate('dashboard_satker', {name : this.category})
                              window.open(go , '_blank');
                          }
                      }
                  }
              },
          },
          series: [{
              name: 'Anggaran',
              data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1]

          }, {
              name: 'Realisasi',
              data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5]

          }
        ]
      });
  </script>
{% endapply %}{% endblock %}
